* {
    margin: 0;
    padding: 0;
    font-family: comfortaa;
    box-sizing: border-box;
}

body {
    background-image: none;
    background-image: none;
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.sunMode{
    position: absolute;
    z-index: 1;
    top: 80%;
    right: 2%;
}
.heading{
    width: 100%;
    display: flex;
    background-color: #000000;
    padding: 1%;
        background-color: transparent;
        /* border: 1px solid #9f97979e; */
        /* backdrop-filter: blur(40px); */
}
.heading>h4{
    display: flex;
    align-items: center;
   width: 50%;
   text-align: left;
}

.heading>span{
    margin-left: 40%;
    float: left;
    display: flex;
    align-items: center;
}
.mic_data {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50%;
    height: 42vh;
    overflow: hidden;
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.1;
}
.msgContainer {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        height: 20vh;
        background-color: #2b2b2b;
        border-radius: 10px;
        background-color: transparent;
        border: 1px solid #9f97979e;
        /* backdrop-filter: blur(40px); */
        /* box-shadow: inset 1px 10px 100px #ffffff2b; */
}

.msgOperation {
    display: flex;
    width: 98%;
    height: 10vh;
}

.inputMsg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
}

input {
    margin: 1%;
    color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 1%;
    padding-left: 4%;
    background-color: transparent;
    text-transform: capitalize;
}

.micOn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 5%;
}

.sendMsg {
    width: 100%;
    display: flex;
    height: 10vh;
}

.refresh {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    width: 5%;
    float: left;
}

.sendData {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    display: flex;
    margin-left: 86%;
}

button{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1%;
    color: aliceblue;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-image:linear-gradient(45deg, rgb(179, 214, 255),rgb(200, 81, 255));
    animation: shimmer 4s linear infinite;
    background-size: 800%;
    background-image: linear-gradient(to right, #fb00ff 0%,#ea00ff 10%, #cf33ff 20%,#b812ff 30%, #a600ff 40%, #00c3ff 50%, #00ffff 60%,#b812ff 70%, #a600ff  80%, #ea00ff  90%, #fb00ff 100%);
}
button:hover{
    box-shadow: 1px 10px 90px rgb(255, 255, 255);
}
@keyframes shimmer {
    0%{
      
      background-position: 100%;
    }
    100%{
      
      background-position: 0%;
    }
  }
button i {
    font-size: 20px;
    /* background-image: none; */
    color: rgb(255, 255, 255);
}

div.bottom_data{
    background-image: url("./bg.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}
.bottom_data img{
   width: 100%;
}
.bi.bi-person-fill-gear {
    font-size: 30px;
}

.bi.bi-robot {
    font-size: 30px;
}
.para1{
    display: none;
}
.para{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    text-align: left;
        background-color: transparent;
        border: 1px solid #9f97979e;
        /* backdrop-filter: blur(40px); */
    border-radius: 10px;
    margin-top: 2%;
    padding: 2%;
    height: 20vh;
}
.paraA {
    color: rgb(255, 255, 255);
    z-index: 2;
    width: 95%;
    display: flex;
    text-align: left;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 20vh;
    justify-content: left;
    font-family: monospace;

}
.paraB{
    display: flex;
    justify-content: end;
    width: 5%;
    font-size: 20px;
}


.paraA::-webkit-scrollbar {
    display: none;
  }

p .para {
    text-align: left;
}
